backup/*
logs/*
DSDT/decompiled/*
DSDT/compiled/*
DSDT/raw/*

DSDT/raw/SSDT-3.dsl

DSDT/raw/DSDT.aml

DSDT/raw/DSDT.dsl

DSDT/raw/DumpLog.txt

DSDT/raw/FACP.aml

DSDT/raw/FACS.aml

DSDT/raw/RSDP.aml

DSDT/raw/RSDT-FACP.aml

DSDT/raw/RSDT-FACS.aml

DSDT/raw/RSDT.aml

DSDT/raw/SSDT-0.dsl

DSDT/raw/SSDT-1.dsl

DSDT/raw/SSDT-10.dsl

DSDT/raw/SSDT-11.dsl

DSDT/raw/SSDT-12.dsl

DSDT/raw/SSDT-13.dsl

DSDT/raw/SSDT-14.dsl

DSDT/raw/SSDT-15.dsl

DSDT/raw/SSDT-2.dsl

DSDT/raw/SSDT-3.aml

DSDT/raw/SSDT-4x.dsl

DSDT/raw/SSDT-5x.dsl

DSDT/raw/SSDT-6x.dsl

DSDT/raw/SSDT-7.dsl

DSDT/raw/SSDT-8.dsl

DSDT/raw/SSDT-9.dsl

DSDT/raw/XSDT.aml
