<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14B13</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2015 Apple All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.no-one.Airport.TakeOff</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AirportTakeOff</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>100.00.00</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AirPort_Brcm4360 Inject</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatched</key>
			<string>pci14e4,43b1</string>
			<key>IOProviderClass</key>
			<string>AirPort_Brcm4360</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOVendor</key>
				<string>Apple</string>
			</dict>
		</dict>
		<key>Airport_Brcm4360</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AirPort.Brcm4360</string>
			<key>IOClass</key>
			<string>AirPort_Brcm4360</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<array>
				<string>pci14e4,43b1</string>
			</array>
			<key>IOProbeScore</key>
			<integer>901</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>TruePowerOff</key>
			<true/>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Apple . All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.mDNSOffloadUserClient</key>
		<string>1.0.0d7</string>
		<key>com.apple.iokit.IO80211Family</key>
		<string>600.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>13.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
	<key>Source Code</key>
	<string>https://github.com/robvanoostenrijk/AirportTakeOff</string>
</dict>
</plist>
